<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @improvement.name %>
</p>

  <ul>
    <% @improvement.items.each do |item| %>
      <li>
        <%= item.description %>
      </li>
    <% end %>
  </ul>

<%= form_for([@project, @improvement, @improvement.items.build]) do |f| %>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

