<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @improvement.name %>
</p>

 <table>
  	<thead>
  		<th>Description</th>
  	</thead>
    <% @improvement.states.each do |state| %>
      <tr>
      	<td>
        <%= state.name %>
        </td>
      </tr>
    <% end %>
  </table>
<%= form_for([@project, @improvement, @improvement.states.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

  <table>
  	<thead>
  		<th>Description</th>
  		<th>State</th>
  	</thead>
    <% @improvement.items.each do |item| %>
      <tr>
      	<td>
        <%= item.description %>
        </td>
        <td>
        <% unless item.state.nil? %>
        	<%= item.state.name %>
    	<% end %>    	
        </td>
      </tr>
    <% end %>
  </table>


<%= form_for([@project, @improvement, @improvement.items.build]) do |f| %>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  
  <%= select("item", "state_id", State.all.collect {|s| [ s.name, s.id ] }) %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

